@media (min-width:200px) and (max-width: 700px){
  .centered{
    font-style: italic; 
    font-size: 12px;
     }
     .search-box{
      display: none !important
    }
  }
@media (min-width:250px) and (max-width: 573px){
  .col-space{
    padding: 20px 20px 20px 20px;
    margin-top: 30px;
    width: 100%;
  }
  img.zoom{
    height:10px;
    width: 10px;
  }
  .margin-t20{
    margin: -30px -30px -30px -30px;
  }
.service-align{
    height: 100%;
    width: 250px;
}
}
@media (min-width:574px) and (max-width: 1300px){
  .col-space{
   height: 270px;
   width: 100%;
  }
  .zoom{
    height:10px;
    width: 10px;
  }
  p.zoom{
    margin-bottom: 20px;
  }
}
@media (min-width: 500px) and (max-width: 1366px){
  .text-p{
    padding-right: 25px;
    padding-left: 15px;
  }
}
@media (min-width: 200px) and (max-width: 550px){
  .text-head{
    padding-right: 25px;
    padding-left: 25px;
  }
}
@media (min-width: 551px) {
  .text-head{
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 500px) and (max-width: 1366px){
   .text-image{
    font-weight: bold;
    margin-left: 45px;
  }
}
  .text-p{
    font-size: 15px;
  }
@media (min-width: 200px) and (max-width: 800px){
  .large-show{
    display: none !important;
  }
  .small-show{
    display: block !important;
  }
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.img-logo{
border-radius: 50%;
width: 135px;
 height: 70px;
  }
.main-nav:hover{
  border-bottom: 2px solid grey;
  border-width: auto;
  font-weight: bold;
  color: #10a2ff;
}
.main-nav:active{
font-weight: bold;
color: #10a2ff;
}
.sticky{
  position: inherit;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.main-body{
  color: white;
  position: relative;
  text-align: center;
}
.text-image {
  position: absolute;
  top: 18px;
  text-align: center;
  float: right;
  padding: 100px 50px 50px 50px;
  color: black;
  text-transform: uppercase;
  z-index: 1;
}
h1{
font-family: 'Nanum Gothic', sans-serif;
}

.vendor{
    background: #F3EFF5;
    margin-top: 10px;
    width: 100%;
    height: 250px;
}

.image-speed{
    margin-top: 20px;
    text-align: center;
}

.clients{
   padding: 50px 0px 60px;
}
.holo{
    margin-top: 30px;
margin-bottom: 30px;
}
.client-details {
    text-align: center;

}
.rowsetting{
    margin: 80px 0px !important;
}
.rowsetting h2{
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
}
.image-speed{
    cursor: pointer;
}

.footer{
  color: white;
  padding: 10px 10px 10px 10px;
}
.fa-icon:hover{
 transform: scale(1.1);
}
.imgsetting {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #994636;
}
.imgsettings {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #994636;
}
  img.aa {
  width: 100%;
  height: 200px;
  object-fit: none;
  object-position: 5px 10%;
  border: 5px solid #DBD8AE;
  background-color: #DBD8AE;
}
.navbar-brand{
  color: black;
}
.padding-t20{
  padding: 20px 20px 20px 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.col-space{
  background-color: #210F04;
  border-radius: 10px;
  color: white;
  height: 270px;
  padding-right: 5px;
  cursor: pointer;
  font-weight: bold;
  font-style: Monospace; 
  background-image: linear-gradient(to top, purple , pink);
}
.zoom {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
  padding: 10px 10px 10px 10px;
}
.zoom:hover {
  transform: scale(1.05); 
  cursor: pointer;
  border-radius: 10px;
}
/*Services Page For Product Description*/
.service-align {
  position: relative;
  width: 100%;
  padding: 50px 50px 50px 50px;
  box-shadow: 10px 10px 10px 10px;
}

.image {
  opacity: 1;
  display: block;
  width: 400px;
  height: 300px;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 20px;
}

.middle-services {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  /*transform: scale(0);*/
}

.service-align:hover .image {
  opacity: 0.3;
}

.service-align:hover .middle-services {
  opacity: 1;
}

.text {
  background-color: red;
  color: white;
  width: 100%;
  padding: 16px 32px;
  cursor: pointer;
  border-radius: 12px;

}
.text-style{
    color: blue;
    margin-top: 20px;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}
/*ABout us*/
.about-image{
  height: 300px;
  width: 550px;
  border-radius: 10px; 
  box-shadow: 10px 10px 10px;
  opacity: ;
}
.about-para{
  color: darkblue;
  font-size: 20px;
  padding-right: 20px; 
}

/*Error msg display*/
#error{
      padding:20px 20px 20px 20px;
      border-radius: 3px;
      color: white;
      font-weight: bolder;
    }


.card {
background: #fff;
  border-radius: 2px;
  display: block;
  width:100%;
}

.card-heading {
padding:15px 10px 0px 15px;
font-family: 'Roboto', sans-serif;
font-size:18px;
}

.card-light {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.card-light:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.space-top-50{padding-top:50px;}
.space-10{padding:10px;}
.space-bottom-5{padding-bottom:5px;}
.space-20{padding:20px;}



.col-center{
 float: none;
  margin-right: auto;
  margin-left: auto;
}
.panel-login {
  padding: 30px 30px 30px 30px;
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  justify-content: center;
}
.panel:hover , .panel-login:hover {
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.5);
}
.panel-login>.panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align:center;
}
.panel-login>.panel-heading a{
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
  color: #029f5b;
  font-size: 18px;
}
.panel-login>.panel-heading hr{
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
  outline:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}
.btn-login {
  background-color: #59B2E0;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #53A3CD;
  border-color: #53A3CD;
}
.forgot-password {
  text-decoration: underline;
  color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline;
  color: #666;
}

.btn-register {
  background-color: #1CB94E;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
  color: #fff;
  background-color: #1CA347;
  border-color: #1CA347;
}


.error-msg {
    font-size: 12px;
    max-width: 100%;
    background: #ff5252;
    color: #ffffff;
    padding: 8px 16px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.success-msg {
    font-size: 12px;
    max-width: 100%;
    background: #00e676;
    color: #ffffff;
    padding: 8px 16px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.space-10{
  padding: 10px 10px 10px 10px;
}
.space-20{
  padding: 20px 20px 20px 20px;
}
.space-30{
  padding: 30px 30px 30px 30px;
}
.margin-t-10{
  margin-top: 20px;
}
.heading-color{
  color: purple;
}
.margin-b-10{
  margin-bottom: 20px;
}
.gradient-background-color{
  border-radius: 10px;
  color: white;
  height: 270px;
  padding-right: 5px;
  cursor: pointer;
  font-weight: bold;
  font-style: Monospace; 
  background-image: linear-gradient(to bottom right, red, yellow);
}
.gradient-background-color:hover, .final-gradient-background-color:hover,.col-space:hover{
 border-radius: 10px;
-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
 box-shadow: 0px 2px 3px 0px rgba(0,0,0,1.5);
}
.final-gradient-background-color{
   border-radius: 10px;
  color: white;
  height: 270px;
  padding-right: 5px;
  cursor: pointer;
  font-weight: bold;
  font-style: Monospace; 
  background-image: linear-gradient(to bottom right, blue, grey);
}
.large-show{
   display: block;
}
.small-show{
    display: none !important;
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*.sticky-footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}*/
.sticky-navbar{
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.5);
}
.suggestion-search-result{
  z-index: 1;
  border: 1px solid white;
  overflow: hidden;
  padding: 0px 0px 0px 20px;
  position: relative;
}
.suggestion-search-result:hover{
  cursor: pointer;
  background-color: grey;
}
.author-search-result{
border-right: solid 1px #CCC;
border-left: solid 1px #CCC;
border-bottom: solid 1px #CCC;
padding:10px 20px;
}

.author-search-result:hover{
color: white;
background-color: #DDD;
cursor:pointer;
}